*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}
html, body{
    overflow: hidden;
    height: 100%;
    width: 100%;
}
canvas {
    background: linear-gradient(to right, black, black, black, red, yellow);
}